body{
  font-family: "Times New Roman", Times, serif;
}
.signup-form {
    max-width: 300px;
    margin-top: 2rem;
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
  }
  .signup-form-forgot {
    float: right;
  }
  .signup-form-forgot {
    float: left;
  }
  .signup-form-button {
    width: 100%;
  }
  .ant-form label {
    color: #080808;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
  }
  .signup{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #d1f8e4;
    @media (min-width: 1024px) { align-items: baseline; };
    justify-content: center;
    @media (min-width: 1024px) { 	padding-top: 8rem;
      padding-bottom: 8rem; }
      padding-left: 1rem;
      padding-right: 1rem;
    @media (min-width: 640px) {padding-left: 1.5rem;
        padding-right: 1.5rem;}
    @media (min-width: 1024px) { padding-left: 2rem;
          padding-right: 2rem; }
  }
  .signup-background{
    background-color: #a7f3d0;
    width: 70%;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px #AAA;
    @media (min-width: 768px) { width: 25%; };
  }
  .signup-container{
    padding: 1rem;
  }
  .signup-image{
    margin-left: 534px;
    margin-right: auto;
    margin-top: 0px;
    height: 5rem;
    width: auto;
  }
  .signup-title h2{
    margin-top: 0px;
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 800;
    color: black;
    font-family: "Times New Roman", Times, serif;
    /* color: rgb(218, 25, 25);
   text-shadow: 3px 1px rgb(233, 84, 84); */
  }
  /* .ant-btn-primary {
    margin-left: 171px;
    color: #fff;
    background: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
} */
.goto-login h3{
  text-align: center;
}
input#register_fullname {
  color: #080808;
  border-radius: 0 !important;
  width: 302px;
  height: 30px;
}
input#register_avatar {
  color: #080808;
  border-radius: 0 !important;
  width: 302px;
  height: 30px;
}
input#register_email {
  color: #080808;
  border-radius: 0 !important;
  width: 302px;
  height: 30px;
}
input#register_phone {
  color: #080808;
  border-radius: 0 !important;
  width: 233px;
  height: 30px;
}
input#register_username {
  color: #080808;
  border-radius: 0 !important;
  width: 302px;
  height: 30px;
}
input#register_address {
  color: #080808;
  border-radius: 0 !important;
  width: 302px;
  height: 30px;
}