.review_box h4 {
    font-size: 20px;
    color: #222;
    margin-bottom: 20px;
}
.review_box p {
    margin-bottom: 0px;
    color: #555555;
    display: inline-block;
}
.review_box .list {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.review_box .list li {
    display: inline-block;
}
.form-review .form-control {
    height: 46px;
    background: transparent;
    border: 1px solid #EEEEEE;
    font-size: 14px;
    color: #999999;
}
.form-contact .form-control {
    border-radius: 0;
    height: 40px;
    padding-left: 18px;
    border-color: transparent;
    background: rgba(130,139,178,0.1);
}
.form-contact .form-group {
    margin-bottom: 10px;
}
.form-contact button {
    border: 0;
}
.button-review {
    padding: 12px 40px;
    border-radius: 30px;
}
.button--active {
    background: #384aeb;
    color: #fff;
}
.button {
    display: inline-block;
    border: 1px solid #384aeb;
    border-radius: 30px;
    color: #222;
    font-weight: 500;
    padding: 12px 50px;
    background: #384aeb;
    color: #fff;
    transition: all .4s ease;
}
img {
    vertical-align: middle;
    border-style: none;
    border-radius: 3px;
    height: 70px;
    width: 71px;
}
/* .fa-star:before {
    content: "\f005";
    color: #e2e4dc;
}
.fa-star::after {
    content: "\f005";
    color: #c5e611;
} */
.comment_list{
    max-height: 215px;
    overflow-y: scroll;
}
.content-comment{
    color: rgb(20, 20, 243);
}